<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MittiMitraApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MittiMitra"
        tools:targetApi="31">

        <activity android:name=".SplashActivity" android:exported="true" android:theme="@style/Theme.MittiMitra.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".WelcomeActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />

        <activity android:name=".ScanActivity" android:exported="false" />
        <activity android:name=".HistoryActivity" android:exported="false" />
        <activity android:name=".DocumentsActivity" android:exported="false" />
        <activity android:name=".TipActivity" android:exported="false" />
        <activity android:name=".RecommendationActivity" android:exported="false" />
        <activity android:name=".ContactActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />

        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".LanguageActivity" android:exported="false" />
        <activity android:name=".AccessibilityActivity" android:exported="false" />
        <activity android:name=".ThemeSettingsActivity" android:exported="false" />
        <activity android:name=".ManageDataActivity" android:exported="false" />
        <activity android:name=".HelpActivity" android:exported="false" />

        <activity android:name=".UnitConverterActivity" android:exported="false" />

        <activity android:name=".NotificationSettingsActivity" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>